body{
    background-color: black;
    color: white;
 }

 h1{
    text-align: center;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
a:hover{
    color: red;
    text-decoration: underline;
}